<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#While Loops

In [ ]:
number = 0

while (number <= 6):
  number = number + 1
  print('Today is 16th may 2025')

Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025

Using else statement with While Loop in Python
Else clause is only executed when our while condition becomes false. If we break out of the loop or if an exception is raised then it won't be executed.

In [ ]:
number = 0

while (number < 4):
  number = number + 1
  print('Today is 16th may 2025')
else:
  print('Today is not 16th may 2025')

Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025
Today is 16th may 2025
Today is not 16th may 2025

#For Loop In Python

In [ ]:
a = 4
for i in range(0, a):
  print(i)

0
1
2
3

#Iterating by the index of Sequences

In [ ]:
list = ["1st", "2nd", "3rd"]
print(len(list))
for a in range(len(list)):
  print(a)

3
0
1
2

Using else statement with for loop in python

In [ ]:
list = ["1st", "2nd", '3rd']
for index in range(len(list)):
  print(list[index])
else:
  print("Inside Else block")

1st
2nd
3rd
Inside Else block

#Nested Loops in Python

In [ ]:
from __future__ import print_function
for i in range(1,9):
  for j in range(i):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

continue statement in loops

In [ ]:
for word in 'MynameisAdithya':
  if word == 'm' or word == 'a':
    continue
  print('Current Letter: ', word)

Current Letter:  M
Current Letter:  y
Current Letter:  n
Current Letter:  e
Current Letter:  i
Current Letter:  s
Current Letter:  A
Current Letter:  d
Current Letter:  i
Current Letter:  t
Current Letter:  h
Current Letter:  y

In [ ]:
for word in 'MynameisAdithya':
  if word == 'm' or word == 'a':
    break
  print('Current Letter: ', word)

Current Letter:  M
Current Letter:  y
Current Letter:  n

In [ ]:
for word in 'MynameisAdithya':
    pass
print('Current Letter: ', word)

Current Letter:  a

In [ ]:
n = [1, 2]
li = ['car', 'bike']

for x in n:
  for y in li:
    print(x, y)

1 car
1 bike
2 car
2 bike

In [ ]:
var = 10
for i in range(10):
  for j in range(2,10,1):
    if var%2==0:
      continue
      var+=1
      var+=1
    else:
      var+=1
print(var)

10

#Pattern1 Right Triangle

In [ ]:
for i in range(1, 6):
  print("1" * i)

1
11
111
1111
11111

#Pattern2 Number Traiangle

In [ ]:
for i in range(1, 5):
  for j in range(1, i+1):
    print(j, end="")
  print()

1
12
123
1234

#Pattern 3 Invertedd Right Triangle

In [ ]:
for i in range(4, 0 , -1):
  print("*" * i)

****
***
**
*

#Pattern 4 Square of Stars

In [ ]:
for i in range(4):
  for j in range(4):
    print("a", end="")
  print()

aaaa
aaaa
aaaa
aaaa

#Pattern 5 Center-Aligned Pyramid

In [ ]:
n = 4
for i in range(n):
  print(" " * (n - i - 1) + "*" * (2 * i + 1))

   *
  ***
 *****
*******