<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/Python_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#lists

Lists indicates in [ ]

In [2]:
a = ["Khaleja", "143", "45.3", "salaar"]
print(a)

['Khaleja', '143', '45.3', 'salaar']

In [6]:
print(a[2])
print(a[0])
print(a[1])

45.3
Khaleja
143

In [7]:
#Creating a List

z = [1,45,9,13,5]
b = ['Khaleja', 'varsham', 'salaar', 'hara hara vera manulu']
c = a

print(z)
print(b)
print(c)

[1, 45, 9, 13, 5]
['Khaleja', 'varsham', 'salaar', 'hara hara vera manulu']
['Khaleja', '143', '45.3', 'salaar']

creating a list with repeated elements

In [10]:
v = [2] * 5
print(v)


o = [a] * 3
print (o)

[2, 2, 2, 2, 2]
[['Khaleja', '143', '45.3', 'salaar'], ['Khaleja', '143', '45.3', 'salaar'], ['Khaleja', '143', '45.3', 'salaar']]

In [12]:
print(o[2])
print(v[-1])

['Khaleja', '143', '45.3', 'salaar']
2

adding elements into list

append()
extend()
insert()

In [22]:
q = []

q.append(2)
print('list after append function:', q)

q.append(3)
print('list after append function:', q)

q.append(4)
print('list after append function:', q)



q.insert(2, "u")
print('list after insert function', q)

q.extend(["bms", "this"])
print('list after extend function', q)


q[2] = "y"
print('list after change', q)

list after append function: [2]
list after append function: [2, 3]
list after append function: [2, 3, 4]
list after insert function [2, 3, 'u', 4]
list after extend function [2, 3, 'u', 4, 'bms', 'this']
list after change [2, 3, 'y', 4, 'bms', 'this']

Removing elements from list

remove()
pop()
del()

In [25]:
q.remove(2)
print('list after removing 2 : ', q)

list after removing 2 :  [3, 'y', 'bms', 'this']

In [26]:
popped_num = q.pop(3)
print('popped element: ', popped_num)
print('list after popped element: ', q)

popped element:  this
list after popped element:  [3, 'y', 'bms']

In [27]:
del q[2]
print('list after del function: ', q)

list after del function:  [3, 'y']

iteratinng over lists

In [28]:
for item in q:
  print(item)

3
y

In [34]:
import numpy as np

e = np.random.rand(4,2)
print(e)


print(e[2][1])

[[0.4096097  0.26959193]
 [0.28289808 0.60483821]
 [0.95060224 0.22528662]
 [0.81820207 0.48587688]]
0.22528661552839857

In [35]:
a = ['Learn', 'Quiz', 'Practice', 'Contribute']
b = a
c = a[:]

b[0] = 'Code'
c[1] = 'Mcq'

count = 0
for c in (a, b, c):
	if c[0] == 'Code':
		count += 1
	if c[1] == 'Mcq':
		count += 10

print (count)

12

In [39]:
a = ['python', 'learning', '@', 'Geeks', 'for', 'Geeks', 'gniscf']
print(a[0:7:3])

['python', 'Geeks', 'gniscf']

In [40]:
a = [x for x in range(5)]
b = [x for x in range(7) if x in a and x%2==0]
print(b)

[0, 2, 4]

#Sets

sets indicates in { }

In [42]:
s = {1, 69, 143}

print(s)
print(type(s))

{1, 69, 143}
<class 'set'>

In [48]:
s.add("d")
print(s)

{1, 69, 143, 'd', 'Virat'}

In [49]:
s.add("Virat")
print(s)

{1, 69, 143, 'd', 'Virat'}

In [55]:
for i in range(1,7):
  s.add(i)


print(s)

{1, 2, 3, 4, 69, 5, 6, 143, 'd', 'Virat'}

union operation of python sets

In [57]:
movies = {'khaleja', 'salaar', 'red'}
directors = {'thirvikram', 'vanga', 'bobby'}
heros = {'prabhas', 'ram', 'ntr'}

tfi = movies.union(directors)
print(tfi)

tfi = movies | heros
print(tfi)

{'khaleja', 'vanga', 'bobby', 'thirvikram', 'red', 'salaar'}
{'khaleja', 'ram', 'prabhas', 'ntr', 'red', 'salaar'}

intersection of sets

In [58]:
even_numbers = {2 , 4, 6, 8}
prime_numbers = {2, 3, 5, 7}

common_numbers = even_numbers.intersection(prime_numbers)
print(common_numbers)

{2}

In [60]:
common_numbers.clear()
print(common_numbers)

set()

#Tuples

tuples indicates in ( )

In [61]:
tup = ()
print(tup)

()

In [62]:
tup = ('lsg', 'gt')
print(tup)

('lsg', 'gt')

In [63]:
li = [2, 4, 7, 9]
print(tuple(li))

(2, 4, 7, 9)

In [65]:
li.append(2)
print(tuple(li))

(2, 4, 7, 9, 2, 2)

In [67]:
tuple = li
print(tuple)

[2, 4, 7, 9, 2, 2]

In [69]:
tuple.append(8)
print(tuple)

[2, 4, 7, 9, 2, 2, 8, 8]

In [70]:
tup = li
print(tup)

[2, 4, 7, 9, 2, 2, 8, 8]

In [72]:
tup.append(3)
print(tup)

[2, 4, 7, 9, 2, 2, 8, 8, 3, 3]

In [75]:
tup.clear()
print(tup)

[]

creating a tuple with mixed Datatypes

In [77]:
tup1 = (5, 'Welcome', 7 , 'rcb')
print(tup1)

(5, 'Welcome', 7, 'rcb')

In [78]:
tup2 = (2, 'mi', 'csk', 4)
print(tup2)

(2, 'mi', 'csk', 4)

In [80]:
tup3 = (tup1, tup2)
print(tup3)

((5, 'Welcome', 7, 'rcb'), (2, 'mi', 'csk', 4))

In [83]:
tup4 = (' Mi - ') * 5
print(tup4)

 Mi -  Mi -  Mi -  Mi -  Mi -

In [86]:
tup = ('csk')
n = 5
for i in range(int(n)):
  tup = (tup,)
  print(tup)

('csk',)
(('csk',),)
((('csk',),),)
(((('csk',),),),)
((((('csk',),),),),)

Python tuple basic operations

accesing of python tuples

concatenation of tuples

slicing of tuple

deleting a tuple

In [89]:
#Concatenation of Tuples

tup6 = tup1 + tup2
print(tup6)

(5, 'Welcome', 7, 'rcb', 2, 'mi', 'csk', 4)

#Dictionaries in Python

In [93]:
d = {1: 'Gt', 2: 'Pbks', 3: 'Rcb', 4: 'mi'}
print(d)

{1: 'Gt', 2: 'Pbks', 3: 'Rcb', 4: 'mi'}

In [94]:
dic = dict( a = "apple", b = "ball", c = "cat")
print(dic)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [95]:
print(d[1])

Gt

In [97]:
print(d.get(3))

Rcb

In [98]:
d[5] = "dc"
print(d)

{1: 'Gt', 2: 'Pbks', 3: 'Rcb', 4: 'mi', 5: 'dc'}

In [101]:
del d[4]
print(d)

{1: 'Gt', 2: 'Pbks', 3: 'Rcb'}

In [102]:
val = d.pop(3)
print(val)

Rcb

In [103]:
d.clear()
print(d)

{}

In [113]:
e = {1: 'Gt', 2: 'Pbks', 3: 'Rcb', 4: 'mi'}


for key in e:
  print(key)


for value in e.values():
  print(value)


for key, value in e.items():
  print(f"{key}: {value}")

1
2
3
4
Gt
Pbks
Rcb
mi
1: Gt
2: Pbks
3: Rcb
4: mi