<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello its my first day learning python")

Hello its my first day learning python

#Variables in Python

In [ ]:
#Variables y stores the number 100
y = 100
print(y)

100

In [ ]:
#Variables name stores the virat kohli
name = "Virat Kohli"
print(name)

Virat Kohli

In [ ]:
#assigning the same value for three variables
a = b = c = 143
print(a, b, c)

143 143 143

In [ ]:
#assigng different variables
a, b, c = 1, 2.5 , "Ipl"
print(a, b, c)

1 2.5 Ipl

In [ ]:
#Typecasting the varibles
x = 100
y = float(x)
print(y)

a = 100
b = str(a)
print(b)


print(type(a))
print(type(b))

100.0
100
<class 'int'>
<class 'str'>

In [ ]:
#scope of the variable


#local variable
def f():
  a = "This is the day 1 of learning python"
  print(a)

f()


a = "This is the day 1 of learning python"
def f():
  global a
  a = "Now i am learning about variables"
  print(a)

f()
print(a)

This is the day 1 of learning python
Now i am learning about variables
Now i am learning about variables

In [ ]:
#deleting a variable
x, y = "now deleting the varible x", "Not deleting the varible y"

del x

print(y)

Not deleting the varible y

#Pratice examples of varibles

In [ ]:
#swapping the two varibles

a, b = 12 , 25
print(a, b)

a , b = b , a
print (a , b)

12 25
25 12

In [ ]:
#counting characters in sentence
word = "Today virat kohli gave announcement of retirement in test cricket"
length = len(word)
print(length)

65

Data Types

#String Data Type

In [ ]:
#String Data Type
s = "Now i am learning about data types"
print(s)


print(type(s))


#accesssing the index from the string

print(s[1])
print(s[14])

print(s[:3])
print(s[13:])
print(s[13:20])

Now i am learning about data types
<class 'str'>
o
i
Now
ning about data types
ning ab

#List data type

In [ ]:
#List data type

a = []
print(a)
a = [ 1, 4, 7]
print(a)


a.append(1)
a.append(2)
print(a)


b = [ "andaio", 'andania', 2 , 4.59]
print(b)


f = [" This is 13th may 2025 then i am learning data types in python", "this is the 2nd sentence in the variable f ", "THis is the 3rdvarible in the data types testing"]
print(f[2][10])

[]
[1, 4, 7]
[1, 4, 7, 1, 2]
['andaio', 'andania', 2, 4.59]
e

#Tuples in the python

In [ ]:
tup1 = ()
print(tup1)

tup2 = (1, 2, 3, 4)
print(tup2)

()
(1, 2, 3, 4)

In [ ]:
tup1 = tuple([1,3, 6, 9, 10])
print(tup1)

print(tup1[3])

(1, 3, 6, 9, 10)
9

#Set Data types

In [ ]:
#intializing the set

s1 = set()

s1 = set("I am using the google collab")
print(s1)

s2 = set(["I", "am", "using", "the", "google", "collab"])
print(s2)


for i in s2:
  print(i , end = " ")

print("using" in s2)

{' ', 'a', 'g', 'I', 'h', 'm', 'n', 'c', 'b', 's', 'o', 'u', 'l', 't', 'i', 'e'}
{'I', 'using', 'google', 'am', 'the', 'collab'}
I using google am the collab True

#Dictionary Data Type

In [ ]:
d = {}
print(d)



d = {1 : 'Dicitonary', 2 : 'Data', 5 : 'Type'}

print(d)
print(d[5])

{}
{1: 'Dicitonary', 2: 'Data', 5: 'Type'}
Type