<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**OOPs**

In [2]:
class Student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display_info(self):
    print(f"Name: {self.name}, Age: {self.age}")

student1 = Student("Aditya", 22)

student1.display_info()

Name: Aditya, Age: 22

Example of Theatre

In [3]:

class Theatre:
  def __init__(self, name, capacity, current_movie):
    self.name = name
    self.capacity = capacity
    self.current_movie = current_movie

  def theatre_info(self):
    print(f"Theatre name is {self.name} and capacity is {self.capacity} and current movie playing is {self.current_movie}")

theatre1 = Theatre("Vishwanath 70 mm", 1200, "Varsham")
theatre1.theatre_info()

Theatre name is Vishwanath 70 mm and capacity is 1200 and current movie playing is Varsham

Simple Bank Account

In [5]:
class BankAccount:
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

  def deposit(self, amount):
    self.balance += amount

  def show_balance(self):
    print(f"{self.name}'s Blanace:$ {self.balance} ")

account1 = BankAccount("Aditya", 1200)
account1.show_balance()

account1.deposit(200)

account1.show_balance()

Aditya's Blanace:$ 1200
Aditya's Blanace:$ 1400