<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lambda Fucntion

syntax:

  lambda arguments: expression

In [4]:
x = int(input("Enter the number: "))

def square(x):
  return x * x

print(square(x))

Enter the number: 4
16

In [7]:
square = lambda x: x * x
print(square(x))

16

#map( )

map(function, iterable)

In [9]:
nums = [1,2,3,4]
squares = list(map(lambda x: x * x, nums))

print(squares)

[1, 4, 9, 16]

#filter ( )

filter(function, iterable)

In [12]:
nums = [1,2,4,12, 9 , 5,6]

nums1 = list(sorted(nums))
print(f"after sorted: {nums1}")

evens = list(filter(lambda x: x % 2 == 0, nums1))

print(evens)

after sorted: [1, 2, 4, 5, 6, 9, 12]
[2, 4, 6, 12]

#reduce ( )

reduce(function , iterable)

In [18]:
from functools import reduce

nums = [1,2,3,4]

product = reduce(lambda x,y: x+y, nums)

print(product)

10

#List Comprehension

[expression for item in iterable]

In [20]:
squares = [x*x for x in range(1,20, 2)]

print(squares)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

with condition

In [27]:
evens = [x for x in range(1,100, 3) if x % 2 == 0]

print(evens)

[4, 10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94]

#Pratice Tasks

In [34]:

double = lambda x: x *2
print(double(10))

20

In [35]:
nums = [1,2,3,4,5]

cubed = list(map(lambda x:x ** 3, nums))

print(cubed)

[1, 8, 27, 64, 125]

In [38]:
nums = [1,10,15,6,7]

filtered = list(filter(lambda x: x <= 7, nums))

print(filtered)

[1, 6, 7]

In [40]:
from functools import reduce
nums = [10,20,30]

total = reduce(lambda x, y: x * y, nums)

print(total)

6000

In [41]:
nums = [1,2,3,4,5]

squares = [x*x for x in nums]
print(squares)

[1, 4, 9, 16, 25]

In [42]:
odd_squares = [x*x for x in nums if x % 2 != 0]
print(odd_squares)

[1, 9, 25]