<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python** **Functions**

In [3]:
def ipl():
  print("Chennai Super Kings")


ipl()

Chennai Super Kings

calling function with parameters

In [6]:
def ipl(team_name1 , team_name2, margin):
  print(f"{team_name1} won the match")
  print(f"{team_name2} loss the match")
  print(f"by {margin}")



ipl("sunrisers_hyderabad", "Koklata knight risers", "110 runs")

sunrisers_hyderabad won the match
Koklata knight risers loss the match
by 110 runs

calling function using return function

In [8]:
def is_prime(n):
  if n in [2,3,5,7]:
    return True
  if (n == 1) or (n % 2 == 0):
    return False

  r = 3
  while r * r <= n:
    if n % r == 0:
      return False
    r += 2
  return True


print(is_prime(78))
print(is_prime(8))

False
False

types of python function argumnents

In [11]:
def student(firstname, lastname):
  print(firstname, lastname)

student('vijaya', 'durga')

student(lastname= 'durga', firstname='vijaya')

vijaya durga
vijaya durga

In [12]:
def nameAge(name, age):
  print("hi, I am ", name)
  print("my age is ", age)

nameAge("Adithya", 22)

hi, I am  Adithya
my age is  22

In [14]:
def Myfun(*argv):
  for arg in argv:
    print(arg)

Myfun('Hello', 'Welcome', 'to', 'myworld')

Hello
Welcome
to
myworld

In [18]:
def Myfun(**kwargs):
  """
  this function is used to call the keyword arguments

  """

  for key, value in kwargs.items():
    print("%s == %s" % (key, value))

Myfun(first='Vijaya', mid='Durga', last='Adithya')

first == Vijaya
mid == Durga
last == Adithya

In [19]:
print(Myfun.__doc__)

  this function is used to call the keyword arguments

nested function

In [25]:
def security():
  name = 'p.vijaya Durga adithya'
  age = 22
  location = 'hyderabad'


  def unlock():
    print(f"name is {name} and age is {age} location is {location}")

  unlock()

security()

name is p.vijaya Durga adithya and age is 22 location is hyderabad

pratice problems

check if a number is even or odd

In [30]:
def even_odd(g):
  if g % 2 == 0:
    return "Even"
  else:
    return "Odd"

print(even_odd(5))
print(even_odd(2))

Odd
Even

find maximum of 3 numbers

In [31]:
def maximum(a,b,c):
  return max(a,b,c)


print(maximum(3,1,9))

9

Factorial of a number

In [32]:
def factorial(n):
  if n == 0 or n == 1:
    return 1

  return n * factorial(n-1)

print(factorial(9))

362880

Average of numbers using *args

In [34]:
def average(*numbers):
  total = sum(numbers)
  count = len(numbers)

  return total / count

print(f"average of numbers is {average(24,1,16,10)}")

average of numbers is 12.75