<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**pratice questions**

Basics

Print your name and age by taking input from the user.
Use variables, input(), type casting.

In [3]:
name = input("Enter Your name: ")
age = int(input("Enter your age: "))


print(f"The User Name is {name} and his age is {age}. ")

Enter Your name: aditya
Enter your age: 22
The User Name is aditya and his age is 22.

Write a program that takes two numbers and displays their sum, difference, product, and quotient.

In [5]:
A, B = map(int, input("Enter Two numbers: ").split())

sum = A + B
diff = A - B
multi = A * B
div = A / B

print(f"The sum of {A} and {B} is {sum}")
print(f"The difference of {A} and {B} is {diff}")
print(f"The multiplication of {A} and {B} is {multi}")
print(f"The division of {A} and {B} is {div}")

Enter Two numbers: 2 3
The sum of 2 and 3 is 5
The difference of 2 and 3 is -1
The multiplication of 2 and 3 is 6
The division of 2 and 3 is 0.6666666666666666

Write a program to check if a number is positive, negative, or zero.

In [8]:
number = int(input("Enter the Number: "))

if number > 0:
  print(f"{number} is Positive Number")
elif number < 0:
  print(f"{number} is Negative Number")
else:
  print(f"Number is Zero")

Enter the Number: 0
Number is Zero

Take three numbers and print the greatest one using if-elif-else.

In [11]:
A, B , C = map(int, input("Enter Three Numbers: ").split())


if A > B and A > C:
  print(f"{A} is the Greatest Number")
elif B > A and B > C:
  print(f"{B} is the Greatest Number")
else:
  print(f"{C} is the Greatest Number")

Enter Three Numbers: 2 9 0
9 is the Greatest Number

Print numbers from 1 to 20 using a for loop.

In [12]:
for i in range(1, 21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [53]:
for i in range(1, 5):
  print("*")

*
*
*
*

In [64]:
for i in range(1, 10):
  for j in range(i, 10):
    print("*", end="")
  print()

*********
********
*******
******
*****
****
***
**
*

Write a program that prints even numbers between 1 and 50 using a while loop.

In [83]:
n = 2
while n <= 50:
  print(n)
  n += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Create a list of 5 numbers. Add 2 more numbers, remove one, and print the final list.
Use .append(), .remove().

In [90]:
marks = [23, 4, 87, 35, 82]
print(f"Marks List of students are {marks}")
print()
marks.append(38)
marks.append(29)
print(f"Marks List of students after adding 2 more students {marks}")
print()
marks.remove(4)
print(f"Marks List of Students after removing failed students {marks}")

Marks List of students are [23, 4, 87, 35, 82]

Marks List of students after adding 2 more students [23, 4, 87, 35, 82, 38, 29]

Marks List of Students after removing failed students [23, 87, 35, 82, 38, 29]

Create a dictionary of a student: name, age, marks. Print the keys and values.

In [95]:
dict = {
    'Name' : "P.Vijaya Durga Adithya",
    'Age' : 20,
    'Marks' : 99.9
}

print(dict)

{'Name': 'P.Vijaya Durga Adithya', 'Age': 20, 'Marks': 99.9}

Create a set with duplicate values and print it (to show how sets remove duplicates).

In [98]:
scores_of_virat_kohli = {99 , 59, 43, 29, 59, 81}

print(f"Scores of virat kohli withour dulpicates {scores_of_virat_kohli}")

Scores of virat kohli withour dulpicates {81, 99, 59, 43, 29}

Replace all vowels in a string with ‘*’.
E.g., hello → h*ll*

In [104]:
vowels = 'aeiouAEIOU'

Name = input("Enter ur name: ")

result = ""
for char in Name:
  if char in vowels:
    result += '*'
  else:
    result += char
result

Enter ur name: aditya

'*d*ty*'

Write a function that takes two numbers and returns their average.

In [111]:
def Caluclate(A, B):
  return A + B / 2
A, B = map(int, input("Enter Two numbers: ").split())

Caluclate(A, B)

Enter Two numbers: 3 9

7.5

Write a function using *args to return the sum of all given numbers.

In [131]:
def calucate(*sums):
  total = 0
  for sum in sums:
    total += sum
  return total



calucate(3, 6, 9, 10, 20, -3, -35)

10

#MinI Project

In [161]:
names = input("Enter the 5 student names (space separated): ").split()
ages = list(map(int, input("Enter the 5 student ages: ").split()))
marks = list(map(int, input("Enter the 5 student marks: ").split()))

Enter the 5 student names (space separated): Aditya Jogesh Sita Durga Raju
Enter the 5 student ages: 22 21 22 21 20
Enter the 5 student marks: 98 89 97 99 72

In [162]:
Record = {
    'Names': names,
    'Ages': ages,
    'Marks': marks
}

In [163]:
print("\n--- Student Records ----")
for i in range(5):
    print(f"Name: {Record['Names'][i]}, Age: {Record['Ages'][i]}, Marks: {Record['Marks'][i]}")

--- Student Records ----
Name: Aditya, Age: 22, Marks: 98
Name: Jogesh, Age: 21, Marks: 89
Name: Sita, Age: 22, Marks: 97
Name: Durga, Age: 21, Marks: 99
Name: Raju, Age: 20, Marks: 72

In [164]:
def get_grade(mark):
    if mark >= 90:
        return 'A'
    elif mark >= 75:
        return 'B'
    elif mark >= 60:
        return 'C'
    else:
        return 'D'

In [165]:
def display_grades():
    print("\n--- Student Grades ---")
    for i in range(5):
        grade = get_grade(Record['Marks'][i])
        print(f"{Record['Names'][i]}: Grade {grade}")

In [166]:
def class_topper():
    highest = max(Record['Marks'])
    index = Record['Marks'].index(highest)
    print(f"\n🏆 Class Topper: {Record['Names'][index]} with {highest} marks")

In [167]:
display_grades()
class_topper()

--- Student Grades ---
Aditya: Grade A
Jogesh: Grade B
Sita: Grade A
Durga: Grade A
Raju: Grade C

🏆 Class Topper: Durga with 99 marks

In [168]:
def search_student(name):
  if name in Record['Names']:
    idx = Record['Names'].index(name)
    age = Record['Ages'][idx]
    mark = Record['Marks'][idx]
    grade = get_grade(mark)
    print(f"\n--Student Found:")
    print(f"Name: {name}, Age: {age}, Marks: {mark}, Grade: {grade}")
  else:
    print(f"\nStudent {name} not found in the records.")

In [169]:
# Interactive menu
while True:
    print("\n--- MENU ---")
    print("1. View All Students")
    print("2. View Grades")
    print("3. Show Topper")
    print("4. Search by Name")
    print("5. Exit")

    choice = input("Enter your choice (1-5): ")

    if choice == '1':
        print("\n--- Student Records ---")
        for i in range(5):
            print(f"{i+1}. Name: {Record['Names'][i]}, Age: {Record['Ages'][i]}, Marks: {Record['Marks'][i]}")
    elif choice == '2':
        display_grades()
    elif choice == '3':
        class_topper()
    elif choice == '4':
        search_name = input("Enter student name to search: ")
        search_student(search_name)
    elif choice == '5':
        print("Exiting program. ✅")
        break
    else:
        print("❌ Invalid choice. Try again.")

--- MENU ---
1. View All Students
2. View Grades
3. Show Topper
4. Search by Name
5. Exit
Enter your choice (1-5): 1

--- Student Records ---
1. Name: Aditya, Age: 22, Marks: 98
2. Name: Jogesh, Age: 21, Marks: 89
3. Name: Sita, Age: 22, Marks: 97
4. Name: Durga, Age: 21, Marks: 99
5. Name: Raju, Age: 20, Marks: 72

--- MENU ---
1. View All Students
2. View Grades
3. Show Topper
4. Search by Name
5. Exit
Enter your choice (1-5): 1

--- Student Records ---
1. Name: Aditya, Age: 22, Marks: 98
2. Name: Jogesh, Age: 21, Marks: 89
3. Name: Sita, Age: 22, Marks: 97
4. Name: Durga, Age: 21, Marks: 99
5. Name: Raju, Age: 20, Marks: 72

--- MENU ---
1. View All Students
2. View Grades
3. Show Topper
4. Search by Name
5. Exit
Enter your choice (1-5): 4
Enter student name to search: Akhil

Student Akhil not found in the records.

--- MENU ---
1. View All Students
2. View Grades
3. Show Topper
4. Search by Name
5. Exit
Enter your choice (1-5): 3

🏆 Class Topper: Durga with 99 marks

--- MENU ---
1. View All Students
2. View Grades
3. Show Topper
4. Search by Name
5. Exit
Enter your choice (1-5): 2

--- Student Grades ---
Aditya: Grade A
Jogesh: Grade B
Sita: Grade A
Durga: Grade A
Raju: Grade C

--- MENU ---
1. View All Students
2. View Grades
3. Show Topper
4. Search by Name
5. Exit
Enter your choice (1-5): 5
Exiting program. ✅