<a href="https://colab.research.google.com/github/vdadithya2002/Python-Learnings/blob/main/PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Input and Output

In [ ]:
#normal input

name = input("Enter your name: ")
print("Welcome to Google collab", name )

Enter your name: aditya
Welcome to Google collab aditya

taking multiple inputs from the user

In [ ]:
x, y = input("Enter two numbers: ").split()

print("The first number is: ", x)
print("The second number is: ", y)

Enter two numbers: 5 6
The first number is:  5
The second number is:  6

In [ ]:
a, b, c = input("Scores of three subjects: ").split()

print("Score of first subject: ", a)
print("Score of second subject: ", b)
print("Score of thirs subject: ", c)

Scores of three subjects: 20 45 30
Score of first subject:  20
Score of second subject:  45
Score of thirs subject:  30

conditional input

In [ ]:
p = input("Enter ur age: ")

age = int(p)

if age < 0 :
  print("Invalid age, not selected")
elif age < 18 :
  print("Age is below 18")
else :
  print("Selected")

Enter ur age: 6
Age is below 18

#output Formating

In [ ]:
amount = 143
print("Amount: ${:.2f}".format(amount))

Amount: $143.00

In [ ]:
print('G', 'F', 'G', sep=' @  -  @  - ')

G @  -  @  - F @  -  @  - G

In [ ]:
Name = 'Adithya'
age = 22
print(f"Hello, My name is {Name} and I'm {age} years old.")

Hello, My name is Adithya and I'm 22 years old.

#Type casting

In [ ]:
a = 5

n = float(a)

print(n)

z = int(n)

print(z)

y = str(z)

print(y)

5.0
5
5

#Simple calculator

In [ ]:
z = int(input("Enter first Number: "))

y = int(input("Enter Second Number: "))

Sum = z + y
print("Sum: ", Sum)

Difference = z - y
print("Difference: ", Difference)

Product = z * y
print("Product: ", Product)

Quotient = z // y
print("Quotient: ", Quotient)

Enter first Number: 10
Enter Second Number: 2
Sum:  12
Difference:  8
Product:  20
Quotient:  5

#Operators

In [ ]:
a,b,c = 10, 20, 15

print("Addition: ", a+b+c)
print("Subtraction: ", b-a)
print("Multiplication: ", a*b*c)
print("Divison: ", b / a)
print("FLoat Divison: ", b // a)
print("Modulus: ", b % a)
print("Exponent: ", a ** 2)

Addition:  45
Subtraction:  10
Multiplication:  3000
Divison:  2.0
FLoat Divison:  2
Modulus:  0
Exponent:  100

comparsion operators

In [ ]:
a = 15
b = 34
c = 34

print( a > b)
print(a < b)
print(a == b)
print(b == c)
print(a != b)
print(b != c)

False
True
False
True
True
False

Logical operators

In [ ]:
a = True
b = False
c = True

print(a and b)
print(a and c)
print(a or b)
print(not a)

False
True
True
False

Bitwise operators

In [ ]:
a = 12
b = 14

print(a & b)
print( a | b)
print(~a)
print( a ^ b)
print( a >> 2)
print( a << 2)

12
14
-13
2
3
48

#Identity Operators in Python
In Python, is and is not are the identity operators both are used to check if two values are located on the same part of the memory. Two variables that are equal do not imply that they are identical.

is          True if the operands are identical
is not      True if the operands are not identical \

In [ ]:
a = 10
b = 20
c = a
d = b
e = 25

print(a is not b and b is c)
print(a is not b or b is d)

print(a is c)

False
True
True

#Membership Operators in Python
In Python, in and not in are the membership operators that are used to test whether a value or variable is in a sequence.

in            True if value is found in the sequence
not in        True if value is not found in the sequence

In [ ]:
x = 15
y = 9

list = [10,24,32,15,2,5]

if (x not in list):
  print("x is NOT present in given list")

else:
  print("x is present in given list")

if ( y in list):
  print("y is present in given list")
else:
  print("y is not present in given list")

x is present in given list
y is not present in given list

#Ternary Operator in Python
in Python, Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false

In [ ]:
a, b, c , d = 2,5, 10, 3

min = a if a < b else b
print(min)

max = c if c < d else d
print(max)

2
3

Precedence and Associativity of Operators in Python
In Python, Operator precedence and associativity determine the priorities of the operator.

In [ ]:
expr = 10 + 20 * 30

print(expr)
name = "John"
age = 0

if name == "Alex" or name == "John" and age >= 2:
  print(f"Hello", {name})
else:
  print("Good Bye!")

610
Good Bye!

In [ ]:
#operator assocativity in python
#same as bodmas rule


print(100 / 2 * 10)

print(5 - 2 + 3)

500.0
6

#Conditional Statemenets

In [ ]:
age = 19

if age >= 18: print("You're eglible for voting")
else: print("You're not eligible for voting")

You're eglible for voting

In [ ]:
#short hand if-else

marks = 45
res = "Pass" if marks >= 40 else "Fail"

print(f"Result: {res}")

Result: Pass

In [ ]:
#Nested if..else conditionals statements in Python

age = 70
is_member = False

if age >= 60:
  if is_member:
    print("30% Discount")
  else:
    print("20% Discount")
else:
  print("Not eligible for a senior discount")

20% Discount

In [ ]:
#Ternary Conditional Statement in Python
age = 9
s = "Adult" if age >= 18 else "Minor"

print(s)

Minor

#Boolean Logics

In [ ]:
#Example 1 :Checking whether a list is empty or not. We will pass the list in the bool() function. When the list is empty, False is returned and if the list is not empty True is returned.

def check_Empty(list_name):
  print(bool(list_name))

if __name__ == "__main__":
  my_list = []
  check_Empty(my_list)

  my_list1 = [1,2,3]
  check_Empty(my_list1)

False
True